<el-table-column fixed="right" label="操作" width="120">
    {{- $optRow :=.Optrs}}
    <template #default="scope">
        {{- range $x,$m:=$optRow -}}
        {{- if eq "UPDATE" $m.Name}}
        <el-button size="small" type="text" @click="showEdit(scope.row)">{{
            $m.Label
            }}</el-button>
        {{- else if eq "VIEW" $m.Name}}
        <el-button size="small" type="text" @click="showView(scope.row)">{{
            $m.Label
            }}</el-button>
        {{- else if eq "DEL" $m.Name}}
        <el-button size="small" type="text" @click="delItem(scope.row)">{{
            $m.Label
            }}</el-button>
        {{- else if eq "LINK" $m.Name}}
        <el-button size="small" type="text" @click="goto('{{$m.URL}}',scope.row)">{{$m.Label}}</el-button>
        {{end -}}
        {{- end -}}
    </template>
</el-table-column>