{{- $optRow :=.Optrs}}
{{- $len :=len $optRow}}
{{ $width :=multiply $len 60}}
{{ $tmpl :=IsTmplTb .}}
{{ if eq false $tmpl}}
<el-table-column fixed="right" label="操作" width="{{$width}}">

    <template #default="scope">
        {{- range $x,$m:=$optRow -}}
        {{- if eq "UPDATE" $m.Name}}
        <el-button size="small" type="text" @click="showEdit(scope.row)">{{
            $m.Label
            }}</el-button>
        {{- else if eq "VIEW" $m.Name}}
        <el-button size="small" type="text" @click="showView(scope.row)">{{
            $m.Label
            }}</el-button>
        {{- else if eq "DEL" $m.Name}}
        <el-button size="small" type="text" @click="show_confirm_{{$m.UNQ}}(scope.row)">{{
            $m.Label
            }}</el-button>
        {{- else if eq "CNFRM" $m.Name}}
        <el-button size="small" type="text" @click="show_confirm_{{$m.UNQ}}(scope.row)">{{
            $m.Label
            }}</el-button>
        {{- else if eq "LINK" $m.Name}}
        <el-button size="small" type="text" @click="goto_{{$m.UNQ}}(scope.row)">{{$m.Label}}</el-button>
        {{- else if eq "DIALOG" $m.Name}}
        <el-button size="small" type="text" @click="show_dialog_{{$m.UNQ}}(scope.row)">{{$m.Label}}</el-button>
        {{- else if eq "CMPNT" $m.Name -}}
        <el-button size="small" type="text" @click="show_cmpnt_{{$m.UNQ}}(scope.row)">{{$m.Label}}</el-button>
        {{- end -}}
        {{end -}}
    </template>
</el-table-column>
{{end}}