{{$table :=.}}
{{- $qrow :=$table.QRows}}
<div class="query">
   
    <el-form :model="form_{{$table.UNQ}}" inline size="small">
        {{ range $i,$c:= $qrow }}
        {{- if eq "daterange" $c.RType.Type -}}
        <!--{{.Desc}} 日期范围控件 -->
        <el-form-item>
            <el-date-picker style="width: 200px" v-model="form_{{$table.UNQ}}.{{$c.Name}}" type="daterange" start-placeholder="开始日期"
                end-placeholder="结束日期" format="YYYY-MM-DD" value-format="YYYY-MM-DD" />
        </el-form-item>
        {{- end -}}{{ end }}

        {{ range $i,$c:= $qrow }}
        {{- if eq "date" $c.RType.Type -}}
        <!--{{.Desc}} 日期控件 -->
        <el-form-item>
            <el-date-picker style="width: 120px" v-model="form_{{$table.UNQ}}.{{$c.Name}}" clearable type="date"
                placeholder="{{.Desc}}" format="YYYY-MM-DD" value-format="YYYY-MM-DD" />
        </el-form-item>
        {{- end -}}{{ end }}

        {{ range $i,$c:= $qrow }}
        {{- if eq "select" $c.RType.Type -}}
        <!--{{.Desc}} 下拉控件 -->
        <el-form-item>
            <el-select v-model="form_{{$table.UNQ}}.{{.Name}}" style="width: 120px" clearable placeholder="{{.Desc}}">
                <el-option v-for="item in {{.Name}}List" :key="item.value" :label="item.name" :value="item.value" />
            </el-select>
        </el-form-item>
        {{- end -}}{{ end }}

        {{ range $i,$c:= $qrow }}
        {{- if eq "multiselect" $c.RType.Type -}}
        <!--{{.Desc}} 下拉控件多选 -->
        <el-form-item>
            <el-select v-model="form_{{$table.UNQ}}.{{.Name}}" filterable clearable multiple collapse-tags placeholder="{{.Desc}}">
                <el-option v-for="item in {{.Name}}List" :key="item.value" :label="item.name" :value="item.value" />
            </el-select>
        </el-form-item>
        {{- end -}}{{ end }}

        {{- range $i,$c:= $qrow -}}
        {{- if eq "number" $c.RType.Type -}}
        <!--{{.Desc}}  数字控件 -->
        <el-form-item label="{{$c.Desc}}">
            <el-input-number v-model="form_{{$table.UNQ}}.{{ $c.Name }}" {{ if ne "" $c.RType.Min}} :min="{{ $c.RType.Min }}" {{ end }}
                {{ if ne "" $c.RType.Max}} :max="{{ $c.RType.Max }}" {{ end }} />
        </el-form-item>
        {{- end -}} {{ end }}

        {{ range $i,$c:= $qrow }}
        {{- if eq "input" $c.RType.Type -}}
        <!--{{.Desc}} 输入控件 -->
        <el-form-item>
            <el-input clearable style="width: 120px" v-model="form_{{$table.UNQ}}.{{$c.Name}}" maxlength="{{$c.RType.Len}}"
                placeholder="{{$c.Desc}}" />
        </el-form-item>
        {{- end -}} {{ end }}
        <el-form-item>
            <el-button type="primary" :icon="Search" @click="onQuery">查询</el-button>
            <el-button type="success" :icon="Search" @click="showAdd">添加</el-button>
        </el-form-item>
    </el-form>
</div>