{-{- $ucols := .  }-}
{-{- $m := 0}-}
{-{- $span:=24}-}
  <el-row>
  {-{- range $i,$c:= $ucols }-}
  {-{- if le 33 $c.Field.Len }-}
    {-{$m =  0}-}
        <el-col :span="24">
          {-{- $span = 24}-}
   {-{- else if eq "full" $c.Style.Position}-}
          {-{- if ne 0 (spare $m 24)}-}
          <el-col :span="12"></el-col>
          {-{$m = add $m 12 }-}
          {-{- end}-}
          <el-col :span="24">
          {-{- $span = 24}-}
          {-{$m = add $m 24 }-}
         
  {-{- else if eq "newline" $c.Style.Position}-}
        {-{- if ne 0 (spare $m 24)}-}
        <el-col :span="12"></el-col>
        {-{- $span = 12}-}
        {-{$m = add $m 12 }-}
        {-{- end}-}
      <el-col :span="12">
      {-{- $span = 12}-}
      {-{$m = add $m 12 }-}
      {-{- else }-}
        <el-col :span="12">
        {-{- $span = 12}-}
        {-{$m = add $m 12}-}
  {-{- end }-}
      {-{- if eq "password" $c.Cmpnt.Type}-}
      <!--{-{$c.Label}-} 密码控件 -->
      <el-form-item prop="{-{$c.Name}-}" label="{-{$c.Label}-}" label-width="100px" label-position="right">
        <el-input clearable type="password" show-password style="width: 100%" v-model="{-{$c.Ext.FormName}-}.{-{$c.Name}-}"
          maxlength="{-{$c.Field.Len}-}" placeholder="请输入{-{$c.Label}-}" {-{ if eq "readonly" $c.Cmpnt.Format}-}disabled {-{end}-}/>
      </el-form-item>

      {-{- else if eq "switch" $c.Cmpnt.Type}-}
      <!--{-{$c.Label}-} switch控件 -->
      <el-form-item prop="{-{$c.Name}-}" label="{-{$c.Label}-}" label-width="100px" label-position="right">
        <el-switch v-model="{-{$c.Ext.FormName}-}.{-{$c.Name}-}_switch" {-{ if eq "readonly" $c.Cmpnt.Format}-}disabled {-{end}-}/>
      </el-form-item>

      {-{- else if or (eq "date" $c.Cmpnt.Type) (eq "daterange" $c.Cmpnt.Type)}-}
      <!--{-{$c.Label}-} 日期控件 -->
      <el-form-item prop="{-{$c.Name}-}" label="{-{$c.Label}-}" label-width="100px" label-position="right">
        <el-date-picker style="width: 100%" v-model="{-{$c.Ext.FormName}-}.{-{$c.Name}-}" clearable type="date"
          placeholder="请选择{-{.Label}-}" format="YYYY-MM-DD" value-format="YYYY-MM-DD" {-{ if eq "readonly" $c.Cmpnt.Format}-}disabled {-{else if ne "" $c.Cmpnt.Format}-} :default-time="new Date($theia.str.dateFormat(new Date(),'{-{$c.Cmpnt.Format}-}'))"{-{end}-}/>
      </el-form-item>
      {-{- else if eq "datetime" $c.Cmpnt.Type}-}
      <!--{-{$c.Label}-} 日期控件 -->
      <el-form-item prop="{-{$c.Name}-}" label="{-{$c.Label}-}" label-width="100px" label-position="right">
        <el-date-picker style="width: 100%" v-model="{-{$c.Ext.FormName}-}.{-{$c.Name}-}" clearable type="datetime"
          placeholder="请选择{-{.Label}-}" format="YYYY-MM-DD HH:mm:ss" value-format="YYYY-MM-DD HH:mm:ss" 
          {-{ if eq "readonly" $c.Cmpnt.Format}-}disabled {-{else if ne "" $c.Cmpnt.Format}-} :default-time="new Date($theia.str.dateFormat(new Date(),'{-{$c.Cmpnt.Format}-}'))"{-{end}-}/>
      </el-form-item>
      {-{- else if eq "multiselect" $c.Cmpnt.Type}-}
      <!--{-{$c.Label}-} 多选控件 -->
      <el-form-item prop="{-{$c.Name}-}" label="{-{$c.Label}-}" label-width="100px" label-position="right">
        <el-select style="width: 100%" v-model="{-{$c.Ext.FormName}-}.{-{.Name}-}" clearable multiple {-{if ne $span 24}-} collapse-tags {-{end}-}
        collapse-tags-tooltip
          placeholder="请选择{-{.Label}-}">
          <el-option v-for="item in {-{.Name}-}List" :key="item.value" :label="item.name" :value="item.value" />
        </el-select>
      </el-form-item>
      {-{- else if eq "multicheck" $c.Cmpnt.Type}-}
      <!--{-{$c.Label}-} chckbox-group -->
      <el-form-item prop="{-{$c.Name}-}" label="{-{$c.Label}-}" label-width="100px" label-position="right">
        <el-checkbox-group v-model="{-{$c.Ext.FormName}-}.{-{.Name}-}" size="small" {-{ if eq "readonly" $c.Cmpnt.Format}-}disabled {-{end}-}>
          <el-checkbox-button v-for="item in {-{.Name}-}List" :key="item.value" :label="item.value"  :value="item.value">
            {{item.name}}
          </el-checkbox-button>
        </el-checkbox-group>
      </el-form-item>
      {-{- else if eq "slider" $c.Cmpnt.Type}-}
      <el-form-item prop="{-{$c.Name}-}" label="{-{$c.Label}-}" label-width="100px" label-position="right">
        <el-slider size="small" show-input {-{ if eq "readonly" $c.Cmpnt.Format}-}disabled {-{end}-}
        placement="right" style="width: 100%" v-model="{-{$c.Ext.FormName}-}.{-{ $c.Name }-}" 
        {-{- if ne 0 $c.Style.Min}-}
         :min="{-{ $c.Style.Min }-}" {-{- end }-} 
         {-{- if ne 0 $c.Style.Max }-}  :max="{-{ $c.Style.Max }-}" {-{- end }-} />
      </el-form-item>
      {-{- else if eq "number" $c.Cmpnt.Type}-}
      <!--{-{$c.Label}-} 数字控件 -->
      <el-form-item prop="{-{$c.Name}-}" label="{-{$c.Label}-}" label-width="100px" label-position="right">
        <el-input-number {-{ if eq "readonly" $c.Cmpnt.Format}-}disabled {-{end}-}
        {-{if le 0 $c.Field.DLen }-} :precision="{-{$c.Field.DLen}-}" {-{end}-} 
         controls-position="right" style="width: 100%" v-model="{-{$c.Ext.FormName}-}.{-{ $c.Name }-}" 
        {-{- if ne 0 $c.Style.Min}-}
         :min="{-{ $c.Style.Min }-}" {-{- end }-} {-{- if ne 0 $c.Style.Max}-}  :max="{-{ $c.Style.Max }-}" {-{- end }-} />
      </el-form-item>

      {-{- else if or (eq "file" $c.Cmpnt.Type) (eq "img" $c.Cmpnt.Type)}-}
      <!--{-{$c.Label}-} 文件控件 -->
      <el-form-item prop="{-{$c.Name}-}" label="{-{$c.Label}-}" label-width="100px" label-position="right">
        <el-upload multiple :action="conf.uploadPath" :limit="1" :on-success="onUploadSuccess" {-{ if eq "readonly" $c.Cmpnt.Format}-}disabled {-{end}-}>
          <el-button type="primary">选择文件</el-button>
        </el-upload>
      </el-form-item>
      {-{- else if  (eq "radio" $c.Cmpnt.Type)}-}
     <el-form-item prop="{-{$c.Name}-}" label="{-{$c.Label}-}" label-width="100px" label-position="right">
      <el-radio-group v-model="{-{$c.Ext.FormName}-}.{-{$c.Name}-}" size="small" 
      {-{if gt (len (fltrAssctColumns $ucols $c.Name)) 0}-} @change="onChange_{-{$c.Name}-}"  {-{end}-}  >
        <el-radio-button v-for="item in {-{$c.Name}-}List" :key="item.value" :label="item.value" {-{ if eq "readonly" $c.Cmpnt.Format}-}disabled {-{end}-}>
            {{item.name}}
        </el-radio-button>
    </el-radio-group>
     </el-form-item>
     {-{- else if eq true $c.Enum.IsEnum}-}
     <!--{-{$c.Label}-} 下拉控件 -->
     <el-form-item prop="{-{$c.Name}-}" label="{-{$c.Label}-}" label-width="100px" label-position="right">
       <el-select  {-{if gt (len (fltrAssctColumns $ucols $c.Name)) 0}-} @change="onChange_{-{$c.Name}-}"  {-{end}-} v-model="{-{$c.Ext.FormName}-}.{-{.Name}-}" style="width: 100%" filterable clearable
         placeholder="请选择{-{.Label}-}" {-{ if eq "readonly" $c.Cmpnt.Type}-}disabled {-{end}-}>
         <el-option v-for="item in {-{.Name}-}List" :key="item.value" :label="item.name" :value="item.value" />
       </el-select>
     </el-form-item>
      {-{- else if  (eq "readonly" $c.Cmpnt.Type)}-}
      <el-form-item prop="{-{$c.Name}-}" label="{-{$c.Label}-}" label-width="100px" label-position="right">
        <el-input disabled  style="width: 100%" v-model="{-{$c.Ext.FormName}-}.{-{$c.Name}-}"
          :rows="{-{$c.Style.Rows}-}" {-{if gt $c.Field.Len 33}-} type="textarea" show-word-limit {-{end}-} />
      </el-form-item>
      {-{- else if  (eq "label" $c.Cmpnt.Type)}-}
      <el-form-item prop="{-{$c.Name}-}" label="{-{$c.Label}-}" label-width="100px" label-position="right">
        <span v-text="{-{$c.Ext.FormName}-}.{-{$c.Name}-}"></span>
      </el-form-item>
      {-{- else if (eq "color-picker" $c.Cmpnt.Type )}-}
      <el-form-item prop="{-{$c.Name}-}" label="{-{$c.Label}-}" label-width="100px" label-position="right">
        <el-color-picker v-model="{-{$c.Ext.FormName}-}.{-{$c.Name}-}" {-{ if eq "readonly" $c.Cmpnt.Format}-}disabled {-{end}-}/>
      </el-form-item>
      {-{- else if (eq "http" $c.Cmpnt.Type )}-}
      <!--{-{$c.Label}-} 输入控件 -->
      <el-form-item prop="{-{$c.Name}-}" label="{-{$c.Label}-}" label-width="100px" label-position="right">
        <el-input clearable style="width: 100%" v-model="{-{$c.Ext.FormName}-}.{-{$c.Name}-}" maxlength="{-{$c.Field.Len}-}"
          :rows="{-{$c.Style.Rows}-}" {-{if gt $c.Field.Len 33}-} type="textarea" show-word-limit {-{end}-}
          placeholder="请输入{-{$c.Label}-}" {-{ if eq "readonly" $c.Cmpnt.Format}-}disabled {-{end}-} />
          <template #prepend>Http://</template>
      </el-form-item>
      {-{- else if (eq "https" $c.Cmpnt.Type )}-}
      <!--{-{$c.Label}-} 输入控件 -->
      <el-form-item prop="{-{$c.Name}-}" label="{-{$c.Label}-}" label-width="100px" label-position="right">
        <el-input clearable style="width: 100%" v-model="{-{$c.Ext.FormName}-}.{-{$c.Name}-}" maxlength="{-{$c.Field.Len}-}"
          :rows="{-{$c.Style.Rows}-}" {-{if gt $c.Field.Len 33}-} type="textarea" show-word-limit {-{end}-}
          placeholder="请输入{-{$c.Label}-}" {-{ if eq "readonly" $c.Cmpnt.Format}-}disabled {-{end}-}/>
          <template #prepend>Https://</template>
      </el-form-item>
      {-{- else}-}
      <!--{-{$c.Label}-} 输入控件 -->
      <el-form-item prop="{-{$c.Name}-}" label="{-{$c.Label}-}" label-width="100px" label-position="right">
        <el-input clearable style="width: 100%" v-model="{-{$c.Ext.FormName}-}.{-{$c.Name}-}" maxlength="{-{$c.Field.Len}-}"
          :rows="{-{$c.Style.Rows}-}" {-{if gt $c.Field.Len 33}-} type="textarea" show-word-limit {-{end}-}
          placeholder="请输入{-{$c.Label}-}" {-{ if eq "readonly" $c.Cmpnt.Format}-}disabled {-{end}-} />
      </el-form-item>
      {-{- end }-}
    </el-col>
    {-{- end}-}
</el-row>