<el-table-column width="24px" type="expand">
    <template #default="view">
        <el-row :gutter="24">
            {-{- $lecols := .}-}
            {-{- range $i,$c:=$lecols}-}
            <el-col :span="5" class="text-right" style="height: 26px">{-{ $c.Label }-}:</el-col>
            {-{- if eq "img" $c.Cmpnt.Type}-}
            <el-col :span="7" style="height: 26px">
                <el-image style="width:48px" :src="view.row.le_{-{$c.Name}-}" :fit="contain">
                    <template #error>
                        <div class="image-slot">
                          <el-icon><icon-picture /></el-icon>
                        </div>
                      </template>
                </el-image>
            </el-col>
            {-{- else if eq true $c.Enum.IsEnum}-}
            <el-col :span="7" v-text="view.row.{-{$c.Name}-}_label" style="height: 26px"
                :class="'{-{$c.Style.CLR.BgColor}-}'==''?'':{-{$c.Style.CLR.BgColor}-}(view.row.{-{$c.Name}-},'{-{$c.Name}-}')"></el-col>
            {-{- else if eq "link" $c.Cmpnt.Type}-}
            <el-col :span="7" style="height: 26px"
                :class="'{-{$c.Style.CLR.BgColor}-}'==''?'':{-{$c.Style.CLR.BgColor}-}(view.row.le_{-{$c.Name}-},'{-{$c.Name}-}')">
                <el-link type="primary" :href="view.row.le_{-{$c.Name}-}" :title="view.row.le_{-{$c.Name}-}">查看</el-link>
            </el-col>
            {-{- else if eq "cut" $c.Cmpnt.Type}-}
            <el-col :span="7" v-text="view.row.le_{-{$c.Name}-}" style="height: 26px"></el-col>
            {-{- else}-}
            <el-col :span="7" v-text="view.row.le_{-{$c.Name}-}" style="height: 26px"></el-col>
            {-{- end }-}
            {-{- end }-}
        </el-row>
    </template>
</el-table-column>