{{- $table := .}}
{{- $lcols := .LColums -}}
{{- $lecols := .LEColums -}}
{{- $leLen := len $lecols -}}
{{- $lstopts :=.ListOpts -}}
{{- $optLen := len $lstopts -}}
{{ $tmpl :=IsTmplTb .}}
<div class="list">
    <el-table :data="dataList_{{.UNQ}}" v-loading="conf.loading" stripe {{if eq true $tmpl -}}
        style="width: 100%;height:300px" {{else -}} style="width: 100%;height:calc(100vh - 160px)" {{- end}}
        size="small" empty-text="无数据">
        {{- if gt $leLen 0 -}}
        {{- template "le.tmpl.html" $lecols -}}
        {{- end}}
        {{- range $i,$c:=$lcols -}}
        {{- if eq "switch" $c.LCMPT.Type}}
        <el-table-column {{if ne "" $c.Style.ListWidth}} width="{{$c.Style.ListWidth}}" {{end}}  align="center" label="{{$c.Label}}">
            <template #default="scope">
                <el-switch disabled v-model="scope.row.{{$c.Name}}_switch" />
            </template>
        </el-table-column>
        {{- else if eq "progress" $c.LCMPT.Type}}
        <el-table-column {{if ne "" $c.Style.ListWidth}} width="{{$c.Style.ListWidth}}" {{else}} width="120" {{end}} align="center" label="{{$c.Label}}">
            <template #default="scope">
                <el-progress  :percentage="scope.row.{{$c.Name}}" :color="conf.progressColor" />
            </template>
        </el-table-column>
        {{- else if eq "img" $c.LCMPT.Type}}
        <el-table-column {{if ne "" $c.Style.ListWidth}} width="{{$c.Style.ListWidth}}" {{end}} align="center" label="{{$c.Label}}">
            <template #default="scope">
                <el-image style="width:48px" :src="scope.row.{{$c.Name}}" :fit="contain">
                    <template #error>
                        <div class="image-slot">
                            <el-icon>
                                <icon-picture />
                            </el-icon>
                        </div>
                    </template>
                </el-image>
            </template>
        </el-table-column>
        {{- else if eq "link" $c.LCMPT.Type}}
        <el-table-column {{if ne "" $c.Style.ListWidth}} width="{{$c.Style.ListWidth}}" {{end}} {{if eq true $c.Style.HideOverflow}} :show-overflow-tooltip="true" {{end}}  align="center" label="{{$c.Label}}">
            <template #default="scope">
                <el-link type="primary" :href="scope.row.{{$c.Name}}" :title="scope.row.{{$c.Name}}">查看</el-link>
            </template>
        </el-table-column>
        {{- else if eq true $c.Enum.IsEnum}}
        <el-table-column {{if ne "" $c.Style.ListWidth}} width="{{$c.Style.ListWidth}}" {{end}} {{if eq true $c.Style.HideOverflow}} :show-overflow-tooltip="true" {{end}} prop="{{$c.Name}}_label" align="center" label="{{$c.Label}}">
            <template #default="scope">
                {{- if eq "tag" $c.LCMPT.Type}}
                <el-tag :type="tagColor(scope.row.{{$c.Name}},'{{$c.Name}}')"  effect="plain" round v-text="scope.row.{{$c.Name}}_label"></el-tag>
                {{else}}
                <span :class="'{{$c.Style.CLR.BgColor}}'==''?'':{{$c.Style.CLR.BgColor}}(scope.row.{{$c.Name}},'{{$c.Name}}')"
                    v-text="scope.row.{{$c.Name}}_label"></span>
                {{- end}}
            </template>
        </el-table-column>
        {{- else if eq "tag" $c.LCMPT.Type}}
        <el-table-column {{if ne "" $c.Style.ListWidth}} width="{{$c.Style.ListWidth}}" {{end}} prop="{{$c.Name}}_label" align="center" label="{{$c.Label}}">
            <template #default="scope">
                <el-tag type="tagColor(scope.row.{{$c.Name}},'{{$c.Name}}')" round  effect="plain" v-text="scope.row.{{$c.Name}}"></el-tag>
            </template>
        </el-table-column>
        {{- else}}
        <el-table-column {{if ne "" $c.Style.ListWidth}} width="{{$c.Style.ListWidth}}" {{end}} {{if eq true $c.Style.HideOverflow}} :show-overflow-tooltip="true" {{end}} prop="{{$c.Name}}" align="center" label="{{$c.Label}}" />
        {{- end -}}
        {{- end }}
        {{if gt $optLen 0}}
        {{- template "opts.tmpl.html" .}}
        {{- end -}}
    </el-table>
    <el-pagination :currentPage="form_{{$table.UNQ}}.pi" :page-size="form_{{$table.UNQ}}.ps"
        style="position: absolute; right: 30px;bottom:10px;" :page-sizes="[10, 20, 50, 100]" :background="false" small
        layout="total,sizes,prev, pager, next, jumper" :total="total_{{$table.UNQ}}" @size-change="handleSizeChange"
        @current-change="handleCurrentChange" />
    {{ range $x,$m:=$lstopts -}}
    {{- if eq "CMPNT" $m.Name -}}
    <{{$m.UNQ}} ref="cmpnt_{{$m.UNQ}}" @onsaved="onQuery"></{{$m.UNQ}}>
    {{- end -}}
    {{end}}
</div>