{-{- $xtable := .}-}
{-{- $table := $xtable.Current}-}
{-{- $lcols := $table.GetColumnsByName "l"}-}
{-{- $lecols := $table.GetColumnsByName "le"}-}
{-{- $leLen := len $lecols}-}
{-{- $lstopts := $table.ListOpts}-}
{-{- $optLen := len $lstopts}-}
{-{- $tmpl := f_table_is_tmp $xtable}-}
{-{- $queryOpts:=$table.QueryOptrs|f_optr_first}-}
{-{- $pkName := $table.PKColumns|f_colum_first}-}
{-{- $treeNode := $queryOpts.GetParam "treeNode" ""}-}

{-{- if gt (len $lcols) 0 }-}
<div class="list">
    <el-table :data="dataList_{-{$table.UNQ}-}" 
    {-{- if ne "" $treeNode}-} row-key="{-{$pkName.Name}-}" {-{end}-}
    {-{ if and (eq $table.NeedBatchCheck true) (eq false $tmpl)}-}@selection-change="handleSelectionChange" {-{end}-}
    v-loading="conf.loading" stripe {-{if eq true $tmpl }-}
        style="width: 100%;height:300px" {-{else }-} style="width: 100%;height:calc(100vh - 160px)" {-{- end}-}
         empty-text="无数据">le
        {-{- if gt $leLen 0 }-}
        {-{- template "le.tmpl.html" $lecols }-}
        {-{- end}-}
        {-{ if and (eq $table.NeedBatchCheck true) (eq false $tmpl)}-}  <el-table-column type="selection" width="22" /> {-{end}-}
       
        {-{- range $i,$c:=$lcols }-}
        {-{- $align :=  $c.GetConst "l" "align" "center"}-}	
        {-{- $show :=  $c.GetConst "l" "show" ""}-}
        	<!--{-{$c.Name }-} {-{$c.Cmpnt.Type }-} -->
        {-{- if eq "switch" $c.Cmpnt.Type}-}
        <el-table-column {-{if ne "" $show }-} v-if="{-{$show}-}" {-{end}-}  {-{if ne "" $c.Style.ListWidth}-} min-width="{-{$c.Style.ListWidth}-}" {-{end}-}  align="{-{$align}-}" label="{-{$c.Desc.Name}-}">
            <template #default="scope">
                <el-switch {-{if ne true $tmpl}-} @change="on{-{$c.Name}-}SwitchChange(scope.row,$event)" {-{else}-} disabled  {-{end}-} v-model="scope.row.{-{$c.Name}-}_switch" />
            </template>
        </el-table-column>
        {-{- else if eq "progress" $c.Cmpnt.Type}-}
        <el-table-column {-{if ne "" $show }-} v-if="{-{$show}-}" {-{end}-} {-{if ne "" $c.Style.ListWidth}-} min-width="{-{$c.Style.ListWidth}-}" {-{else}-} min-width="100" {-{end}-} align="{-{$align}-}" label="{-{$c.Desc.Name}-}">
            <template #default="scope">
                <el-progress :stroke-width="4"   :percentage="scope.row.{-{$c.Name}-}_progress" :color="conf.progressColor" />
            </template>
        </el-table-column>
        {-{- else if eq "img" $c.Cmpnt.Type}-}
        <el-table-column {-{if ne "" $show }-} v-if="{-{$show}-}" {-{end}-} {-{if ne "" $c.Style.ListWidth}-} min-width="{-{$c.Style.ListWidth}-}" {-{end}-} align="{-{$align}-}" label="{-{$c.Desc.Name}-}">
            <template #default="scope">
                <el-image style="width:48px"  :src="scope.row.{-{$c.Name}-}" preview-teleported :fit="contain"  :preview-src-list="[scope.row.{-{$c.Name}-}]"
               >
                    <template #error>
                        <div class="image-slot">
                            <el-icon>
                                <icon-picture />
                            </el-icon>
                        </div>
                    </template>
                </el-image>
            </template>
        </el-table-column>
        {-{- else if eq "link" $c.Cmpnt.Type}-}
        <el-table-column {-{if ne "" $show }-} v-if="{-{$show}-}" {-{end}-} {-{if ne "" $c.Style.ListWidth}-} min-width="{-{$c.Style.ListWidth}-}" {-{end}-} {-{if eq true $c.Style.HideOverflow}-} :show-overflow-tooltip="true" {-{end}-}  align="{-{$align}-}" label="{-{$c.Desc.Name}-}">
            <template #default="scope">
                <el-link target="_blank" type="success" :href="scope.row.{-{$c.Name}-}" :title="scope.row.{-{$c.Name}-}">查看</el-link>
            </template>
        </el-table-column>
        {-{- else if eq "tag" $c.Cmpnt.Type}-}
        <el-table-column {-{if and (eq false $tmpl) (eq true ( $c.HasConst "fq"))}-} :filters="{-{$c.Name}-}List" :filter-method="columnfilterHandler" column-key="{-{$c.Name}-}" {-{end}-} {-{if ne "" $show }-} v-if="{-{$show}-}" {-{end}-} {-{if ne "" $c.Style.ListWidth}-} min-width="{-{$c.Style.ListWidth}-}" {-{end}-} prop="{-{$c.Name}-}" align="{-{$align}-}" label="{-{$c.Desc.Name}-}">
            <template #default="scope">
                <el-tag :type="tagColor(scope.row.{-{$c.Name}-},'{-{$c.Name}-}')" round 
                {-{- if eq true $c.Enum.IsEnum}-} v-text="scope.row.{-{$c.Name}-}_label" {-{else}-}
                v-text="scope.row.{-{$c.Name}-}"  {-{end}-} ></el-tag>
            </template>
        </el-table-column>
        {-{- else if eq "icon" $c.Cmpnt.Type}-}
        <el-table-column {-{if ne "" $show }-} v-if="{-{$show}-}" {-{end}-} {-{if ne "" $c.Style.ListWidth}-} min-width="{-{$c.Style.ListWidth}-}" {-{end}-} prop="{-{$c.Name}-}" align="{-{$align}-}" label="{-{$c.Desc.Name}-}">
            <template #default="scope">
                <i :class="scope.row.{-{$c.Name}-}"></i>
            </template>
        </el-table-column>
        {-{- else if eq true $c.Enum.IsEnum}-}
        <el-table-column {-{if and (eq true ( $c.HasConst "fq")) (ne true $tmpl)}-} :filters="{-{$c.Name}-}List" :filter-method="columnfilterHandler" column-key="{-{$c.Name}-}" {-{end}-} {-{if ne "" $show }-} v-if="{-{$show}-}" {-{end}-} {-{if ne "" $c.Style.ListWidth}-} min-width="{-{$c.Style.ListWidth}-}" {-{end}-} {-{if eq true $c.Style.HideOverflow}-} :show-overflow-tooltip="true" {-{end}-} prop="{-{$c.Name}-}" align="{-{$align}-}" label="{-{$c.Desc.Name}-}">
            <template #default="scope">
                <span :class="'{-{$c.Style.CLR.BgColor}-}'==''?'':{-{$c.Style.CLR.BgColor}-}(scope.row.{-{$c.Name}-},'{-{$c.Name}-}')"
                    v-text="scope.row.{-{$c.Name}-}_label"></span>
            </template>
        </el-table-column>
        {-{- else}-}
        <el-table-column {-{if ne "" $show }-} v-if="{-{$show}-}" {-{end}-} show-overflow-tooltip  {-{if ne "" $c.Style.ListWidth}-} min-width="{-{$c.Style.ListWidth}-}" {-{end}-}  align="{-{$align}-}" label="{-{$c.Desc.Name}-}" >
            <template #default="scope">
                  <span>{{ scope.row.{-{$c.Name}-}||'-' }}</span>
              </template>
        </el-table-column>
        {-{- end }-}
        {-{- end }-}
        {-{- template "opts.tmpl.html" $xtable}-}
    </el-table>
    <el-pagination :currentPage="form_{-{$table.UNQ}-}.pi" :page-size="form_{-{$table.UNQ}-}.ps"
        style="position: absolute; right: 30px;bottom:6px;" :page-sizes="[10,15,20,30, 50, 100]" :background="false" small
        layout="total,sizes,prev, pager, next, jumper" :total="total_{-{$table.UNQ}-}" @size-change="handleSizeChange"
        @current-change="handleCurrentChange" />
</div>
{-{- end}-}