{-{- $xtable :=.}-}
{-{- $table :=.Current}-}
{-{- $mtable :=.Main}-}
{-{- $optrs :=$table.Optrs.ListOpts}-}
{-{- $tmpl :=f_table_is_tmp $xtable}-}
{-{- if eq true $tmpl}-}
{-{- $optrs = $mtable.Optrs.ViewExtCmptOpts.GetLstOptrs  $table.Name.Raw}-}
{-{- end}-}
{-{-  $optrs =  $optrs.GetByName "CMPNT"}-}
{-{- $words:=""}-}
{-{- range $i,$c:= $optrs}-}
{-{- $words =f_string_contact $words $c.Label}-}
{-{- end}-}
{-{- $len := f_num_divide (len $words) 3}-}
{-{- $width := f_num_multiply $len 24}-}
{-{- if gt $width 180}-}
{-{- $width = 180}-}
{-{- end}-}
{-{- if gt (len $optrs) 0}-}



<el-table-column fixed="right" align="center" label="操作" width="{-{$width}-}">
    <template #default="scope">
        <div class="opts">
            {-{- $cmpnts:= $optrs}-}
            {-{- $cmpnt_count:= len $cmpnts}-}
            {-{- range $x,$m:=$cmpnts }-}
            {-{- $exprs := $m.GetExprs "showExpr" ""}-}
           
            {-{- if or (le $cmpnt_count 3) (lt $x 2) }-}
            <el-button   type="text" @click="show_cmpnt_{-{$m.UNQ}-}(scope.row)" {-{if gt (len $exprs)  0}-} v-if='
            {-{- range $i,$expr := $exprs}-}
            {-{- if ne "" $expr.Name}-}{-{$expr.Name}-}{-{$expr.Symbol}-}{-{$expr.Value}-} 
            {-{- else if ne "" $expr.Field}-}
            scope.row.{-{$expr.Field}-}{-{$expr.Symbol}-}{-{$expr.Value}-}
            {-{- end}-}
            {-{- if lt $i (minus (len $exprs))}-}&&{-{- end -}-}
            {-{- end -}-}'{-{- end}-}>{-{$m.Label}-} </el-button>
            {-{- end }-}

            {-{- if gt $cmpnt_count 3}-}
            {-{- if eq $x 2}-}
            <el-dropdown  @command="(command) => show_cmpnt(command, scope.row)">
                <span class="el-dropdown-link">
                更多
                </span>
                <template #dropdown>
                  <el-dropdown-menu>
            {-{- end}-}
             {-{- if ge $x 2}-}
            <el-dropdown-item command="{-{$m.UNQ}-}" {-{if gt (len $exprs)  0}-} v-if='
            {-{- range $i,$expr := $exprs}-}
            {-{- if ne "" $expr.Name}-}{-{$expr.Name}-}{-{$expr.Symbol}-}{-{$expr.Value}-} 
            {-{- else if ne "" $expr.Field}-}
            scope.row.{-{$expr.Field}-}{-{$expr.Symbol}-}{-{$expr.Value}-}
            {-{- end}-}
            {-{- if lt $i (minus (len $exprs))}-}&&{-{- end -}-}
            {-{- end -}-}'{-{- end}-}>{-{$m.Label}-} </el-dropdown-item>
            {-{- end}-}
            {-{- end}-}
            {-{- end}-}
          {-{- if gt $cmpnt_count 3}-}
                </el-dropdown-menu>
            </template>
            </el-dropdown>
          {-{- end}-}
        </div>
    </template>
</el-table-column>
{-{- end}-}