{-{- $table :=.}-}
{-{- $qOptrs:= $table.QueryOptrs}-}
{-{- $qcols :=  $table.GetColumnsByTPName "q"}-}
{-{- $crow := $table.GetColumnsByTPName "c"}-}
{-{- $clen := len $crow}-}
{-{- $blen :=len $table.BarOpts}-}
{-{- $tabs :=  $table.GetColumsByCmpnt "tabs" "q"}-}
{-{- $xtabs :=  $table.GetColumsByCmpnt "xtabs" "q"}-}
{-{- $blist :=  $table.GetColumsByCmpnt "blist" "q"}-}
{-{- $xlen := f_num_add (len $tabs) (len $qcols)}-}
{-{- $xlen = f_num_add $xlen  (len $blist)}-}

{-{- if gt $xlen 0}-}
<div class="query">
    {-{ if gt (len $tabs) 0}-}
    <div class="tabs">
        {-{- range $i,$c:= $tabs}-}
        <el-tabs v-model="form_{-{$table.UNQ}-}.{-{.Name}-}"  @tab-change="onQuery">
            <el-tab-pane v-for="item in {-{.Name}-}TabList" :name="item.value" :key="item.value" :label="item.name" 
             ></el-tab-pane>
          </el-tabs> 
        {-{- end}-}
    </div>
    {-{- end}-}
    {-{- if or (gt (len $qcols) 0 ) (gt (len $blist) 0)}-}
    <el-form :model="form_{-{$table.UNQ}-}" inline >
        {-{- range $i,$c:= $qcols}-}
        {-{- if eq "year" $c.Cmpnt.Type}-}
        <!--{-{$c.Label}-} 年控件 -->
        <el-form-item>
            <el-date-picker style="width: 120px" v-model="form_{-{$table.UNQ}-}.{-{$c.Name}-}" clearable type="year"
                placeholder="{-{$c.Label}-}" />
        </el-form-item>
        {-{- end}-}
        {-{- end}-}

        {-{- range $i,$c:= $qcols}-}
        {-{- if eq "month" $c.Cmpnt.Type}-}
        <!--{-{$c.Label}-} 月控件 -->
        <el-form-item>
            <el-date-picker style="width: 120px" v-model="form_{-{$table.UNQ}-}.{-{$c.Name}-}" clearable type="month"
                placeholder="{-{$c.Label}-}" />
        </el-form-item>
        {-{- end}-}
        {-{- end}-}

        {-{- range $i,$c:= $qcols}-}
        {-{- if eq "monthrange" $c.Cmpnt.Type}-}
        <!--{-{$c.Label}-} 月份控件 -->
        <el-form-item>
            <el-date-picker style="width: 150px" v-model="form_{-{$table.UNQ}-}.{-{$c.Name}-}" clearable type="monthrange"
                placeholder="{-{$c.Label}-}" />
        </el-form-item>
        {-{- end}-}
        {-{- end}-}

        {-{- $cmpnts :=$table.GetColumsByCmpnt "daterange" "q"}-}
        <!-- 日期控件个数： {-{ len $cmpnts}-} -->
        {-{- if gt (len $cmpnts) 0}-}
        <el-form-item>
            <!--多日期范围控件 -->
            <el-select v-model="form_{-{$table.UNQ}-}.single_date_range_name" placeholder="日期类型" style="width:100px;" class="prepend">
                <el-option
                v-for="item in multiQueryDateRange"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
        </el-select>
            <el-date-picker :shortcuts="shortcuts" style="width: 200px" v-model="form_{-{$table.UNQ}-}.single_date_range_value" type="daterange" start-placeholder="开始日期"
                end-placeholder="结束日期" format="YYYY-MM-DD" value-format="YYYY-MM-DD" />
        </el-form-item>
        {-{- end}-}

        {-{- range $i,$c:= $qcols}-}
        {-{- if eq "date" $c.Cmpnt.Type}-}
        <!--{-{$c.Label}-} 日期控件 -->
        <el-form-item>
            <el-date-picker  style="width: 120px" v-model="form_{-{$table.UNQ}-}.{-{$c.Name}-}" clearable type="date"
                placeholder="{-{$c.Label}-}" format="YYYY-MM-DD" value-format="YYYY-MM-DD" />
        </el-form-item>
        {-{- end}-}
        {-{- end}-}

        {-{- range $i,$c:= $qcols}-}
        {-{- if or (eq "select" $c.Cmpnt.Type) (eq "radio" $c.Cmpnt.Type)}-}
        <!--{-{$c.Label}-} 下拉控件 -->
        <el-form-item>
            <el-select {-{if eq true ($c.NeedTriggerChangeEvent $c.Name)}-} @change="onChange_{-{$c.Name}-}"  {-{end}-} v-model="form_{-{$table.UNQ}-}.{-{.Name}-}" style="width: 100px" clearable placeholder="{-{$c.Label}-}">
                <el-option v-for="item in {-{.Name}-}List" :key="item.value" :label="item.name" :value="item.value" />
            </el-select>
        </el-form-item>
        {-{- end}-}
        {-{- end}-}

        {-{- range $i,$c:= $qcols}-}
        {-{- if eq true (f_string_start $c.Cmpnt.Type "multi")}-}
        <!--{-{$c.Label}-} 下拉控件多选 -->
        <el-form-item>
            <el-select v-model="form_{-{$table.UNQ}-}.{-{.Name}-}" filterable clearable multiple collapse-tags  style="width: 140px"
            collapse-tags-tooltip placeholder="{-{$c.Label}-}">
                <el-option v-for="item in {-{.Name}-}List" :key="item.value" :label="item.name" :value="item.value" />
            </el-select>
        </el-form-item>
        {-{- end}-}
        {-{- end}-}

        {-{- range $i,$c:= $qcols}-}
        {-{- if eq "number" $c.Cmpnt.Type}-}
        <!--{-{$c.Label}-}  数字控件 -->
        <el-form-item label="{-{$c.Label}-}">
            <el-input-number  controls-position="right" v-model="form_{-{$table.UNQ}-}.{-{ $c.Name}-}" {-{ if ne 0 $c.Style.Min}-}
              :min="{-{ $c.Style.Min}-}" {-{ end}-}
            {-{if le 0 $c.Field.DLen}-} :precision="{-{$c.Field.DLen}-}" {-{end}-}   
            {-{ if ne 0 $c.Style.Max}-} :max="{-{ $c.Style.Max}-}" {-{ end}-} />
        </el-form-item>
        {-{- end}-} 
        {-{- end}-}

        {-{- $cmpnts :=$table.GetColumsByCmpnt "input-text" "q"}-}
        <!-- 控件个数：{-{$cmpnts}-} -->
        {-{- if gt (len $cmpnts) 0}-}
         <el-form-item>
            <el-input clearable style="width: 220px" v-model="form_{-{$table.UNQ}-}.single_text_value" maxlength="32"
                placeholder="关键字" >
                <template #prepend>
                    <el-select v-model="form_{-{$table.UNQ}-}.single_text_name" placeholder="查询类型" style="width:84px;">
                        <el-option
                        v-for="item in multiQueryText"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      />
                      </el-select>
                  </template>
            </el-input>
        </el-form-item>
        {-{- end}-}

        <span class="ddl">
            {-{- range $i,$c:= $qcols}-}
            {-{- if eq "ddl" $c.Cmpnt.Type}-}
            <el-dropdown >
                <el-button plain >{-{$c.Label}-}
                  {{form_{-{$table.UNQ}-}.{-{.Name}-}_label}}<el-icon class="el-icon--right"><arrow-down /></el-icon>
                </el-button>
                <template #dropdown>
                  <el-dropdown-menu>
                    <el-dropdown-item @click="on{-{.Name}-}dropdownClick({},form_{-{$table.UNQ}-})">全部</el-dropdown-item>
                    <el-dropdown-item @click="on{-{.Name}-}dropdownClick(item,form_{-{$table.UNQ}-})" v-for="item in {-{.Name}-}List" :key="item.value" >{{item.name}}</el-dropdown-item>
                  </el-dropdown-menu>
                </template>
              </el-dropdown>
            {-{- end}-}
            {-{- end}-}
        </span>
        {-{- if or (gt (len $qcols) 0) (gt $blen 0)}-}
        <el-form-item>
            <el-space wrap>
                {-{- if gt (len $qOptrs) 0}-}
                {-{- range $i,$x:=$qOptrs}-}
                <el-button type="primary" icon="{-{$x.ICON}-}" @click="onQuery(true)">{-{$x.Label}-}</el-button>
                {-{- end}-}
                {-{- end}-}
            {-{- if eq $blen 1}-}
                {-{- range $i,$c:= $table.BarOpts.GetByName "CMPNT" }-}
                <el-button :type="tagColor({-{f_num_spare $i 3}-})" {-{if ne "" $c.ICON}-} icon="{-{$c.ICON}-}" {-{end}-} @click="show_cmpnt_{-{$c.UNQ}-}">{-{$c.Label}-}</el-button>
                {-{- end}-}
            {-{- end}-}
            </el-space>
        </el-form-item>
        {-{- end}-}
        {-{ if or (gt (len $blist) 0) (gt $blen 1)}-}
        <div class="blist"> 
            {-{- if gt $blen 1}-}
            <el-button-group>
                {-{- range $i,$c:= $table.BarOpts.GetByName "CMPNT" }-}
                {-{- $exprs := $c.GetExprs "showExpr" ""}-}
                <el-button :type="tagColor({-{f_num_spare $i 3}-})"
                {-{- if gt (len $exprs)  0}-} v-if='
                {-{- range $i,$expr := $exprs}-}
                {-{- if ne "" $expr.Name}-}{-{$expr.Name}-}{-{$expr.Symbol}-}{-{$expr.Value}-} 
                {-{- else if ne "" $expr.Field}-}
                form_{-{$table.UNQ}-}.{-{$expr.Field}-}{-{$expr.Symbol}-}{-{$expr.Value}-}
                {-{- end}-}
                {-{- if lt $i (minus (len $exprs))}-}&&{-{- end -}-}
                {-{- end -}-}'{-{- end}-}
                {-{if eq true $c.NeedBatchCheck}-} :disabled="bcheck.length==0" {-{ end}-}
                {-{if ne "" $c.ICON}-} icon="{-{$c.ICON}-}" {-{end}-} @click="show_cmpnt_{-{$c.UNQ}-}">{-{$c.Label}-}</el-button>
                {-{- end}-}
            </el-button-group>
            {-{- end}-}

            {-{- range $i,$c:= $blist}-}
            <el-radio-group v-model="form_{-{$table.UNQ}-}.{-{.Name}-}"  @change="onQuery">
                <el-radio-button>{-{$c.Label}-}</el-radio-button>
                <el-radio-button v-for="item in {-{.Name}-}List" :key="item.value" :label="item.value">
                    {{item.name}}
                </el-radio-button>
            </el-radio-group>
            {-{- end}-}
        </div>
        {-{- end}-}

        <!-- xtabs -->
        {-{ if gt (len $xtabs) 0}-}
        <div class="tabs">
            {-{- range $i,$c:= $xtabs}-}
            <el-tabs v-model="form_{-{$table.UNQ}-}.{-{.Name}-}"  @tab-change="onQuery">
                <el-tab-pane name="" label="全部"  ></el-tab-pane>
                <el-tab-pane v-for="item in {-{.Name}-}List" :name="item.value" :key="item.value" :label="item.name" 
                 ></el-tab-pane>
              </el-tabs> 
            {-{- end}-}
        </div>
        {-{- end}-}

    </el-form>
    {-{- end}-}
</div>
{-{- end}-}