{-{- $table :=.}-}
{-{- $qOptrs:= $table.Optrs.QueryOptrs}-}
{-{- $qcols :=  $table.Columns.GetFontQueryColumns}-}
{-{- $crow := $table.Columns.GetFontCreateColumns}-}
{-{- $blen :=len $table.Optrs.BarOpts}-}
{-{- $tabs :=  $table.Columns.GetFontQueryColumns.GetByCmpnt "tabs"}-}
{-{- $xtabs :=  $table.Columns.GetFontQueryColumns.GetByCmpnt "xtabs"}-}
{-{- $blist :=  $table.Columns.GetFontQueryColumns.GetByCmpnt "blist"}-}
{-{- $xlen := f_num_add $tabs.Len $qcols.Len  $blist.Len}-}
{-{- $menucount := ($qcols.GetEnumColumns.GetByCmpnt "ddmenu").Len}-}


{-{- if gt $xlen 0}-}
<div class="query">
    {-{ if gt $tabs.Len 0}-}
    <div class="tabs">
        {-{- range $i,$c:= $tabs}-}
        <el-tabs v-model="form_{-{$table.UNQ}-}.{-{.Name}-}"  @tab-change="onQuery">
            <el-tab-pane v-for="item in {-{.Name}-}TabList" :name="item.value" :key="item.value" :label="item.name" 
             ></el-tab-pane>
          </el-tabs> 
        {-{- end}-}
    </div>
    {-{- end}-}
    {-{- if or (gt $qcols.Len 0 ) (gt $blist.Len 0)}-}
    <el-form :model="form_{-{$table.UNQ}-}" inline >
        {-{- range $i,$c:= $qcols}-}
        {-{- if $c.Cmpnt.Equal "year"}-}
        <!--{-{$c.Label}-} 年控件 -->
        <el-form-item>
            <el-date-picker style="width: 120px" v-model="form_{-{$table.UNQ}-}.{-{$c.Name}-}" clearable type="year"
                placeholder="{-{$c.Label}-}" />
        </el-form-item>
        {-{- end}-}
        {-{- end}-}

        {-{- range $i,$c:= $qcols}-}
        {-{- if $c.Cmpnt.Equal "month"}-}
        <!--{-{$c.Label}-} 月控件 -->
        <el-form-item>
            <el-date-picker style="width: 120px" v-model="form_{-{$table.UNQ}-}.{-{$c.Name}-}" clearable type="month"
                placeholder="{-{$c.Label}-}" />
        </el-form-item>
        {-{- end}-}
        {-{- end}-}

        {-{- range $i,$c:= $qcols}-}
        {-{- if $c.Cmpnt.Equal "monthrange"}-}
        <!--{-{$c.Label}-} 月份控件 -->
        <el-form-item>
            <el-date-picker style="width: 150px" v-model="form_{-{$table.UNQ}-}.{-{$c.Name}-}" clearable type="monthrange"
                placeholder="{-{$c.Label}-}" />
        </el-form-item>
        {-{- end}-}
        {-{- end}-}

        {-{- $cmpnts := $table.Columns.GetFontQueryColumns.GetByCmpnt "daterange"}-}
        <!-- 日期控件个数： {-{ len $cmpnts}-} -->
        {-{- if gt $cmpnts.Len 0}-}
        <el-form-item>
            <!--多日期范围控件 -->
            <el-select v-model="form_{-{$table.UNQ}-}.single_date_range_name" placeholder="日期类型" style="width:100px;" class="prepend">
                <el-option
                v-for="item in multiQueryDateRange"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
        </el-select>
            <el-date-picker :shortcuts="shortcuts" style="width: 200px" v-model="form_{-{$table.UNQ}-}.single_date_range_value" type="daterange" start-placeholder="开始日期"
                end-placeholder="结束日期" format="YYYY-MM-DD" value-format="YYYY-MM-DD" />
        </el-form-item>
        {-{- end}-}

        {-{- range $i,$c:= $qcols}-}
        {-{- if $c.Cmpnt.Equal "date"}-}
        <!--{-{$c.Label}-} 日期控件 -->
        <el-form-item>
            <el-date-picker  style="width: 120px" v-model="form_{-{$table.UNQ}-}.{-{$c.Name}-}" clearable type="date"
                placeholder="{-{$c.Label}-}" format="YYYY-MM-DD" value-format="YYYY-MM-DD" />
        </el-form-item>
        {-{- end}-}
        {-{- end}-}

        {-{- range $i,$c:= $qcols}-}
        {-{- if $c.Cmpnt.Equal "cascader"}-}
        <!--{-{$c.Label}-} 选择树 -->
        <el-form-item  label="{-{$c.Label}-}">
          {-{- $empt:=""}-}
          {-{- $Format := $c.Cmpnt.Format}-}
          {-{- $multiple :=""}-}
          {-{- if eq "multiple" $Format }-}
          {-{- $multiple = "multiple:true,"}-}
          {-{- end}-}
           <el-cascader ref="cascader_{-{$c.UNQ}-}" style="width: 150px"
           v-model="form_{-{$table.UNQ}-}.{-{ $c.Name }-}" 
           placeholder="请选择{-{$c.Label}-}"
           collapse-tags  collapse-tags-tooltip  clearable   :options="{-{$c.Name}-}List"
           :props="{ {-{$multiple}-} children: 'children', label: 'name' }" />
       </el-form-item>
       {-{- end}-}
       {-{- end}-}

        {-{- range $i,$c:= $qcols}-}
        {-{- if $c.Cmpnt.Equal "select|radio"}-}
        <!--{-{$c.Label}-} 下拉控件 -->
        <el-form-item>
            <el-select {-{if gt ( len ($qcols.GetColumnsByTriggerChangeEvent $c.Name)) 0}-}  @change="onChange_{-{$c.Name}-}"  {-{end}-} v-model="form_{-{$table.UNQ}-}.{-{.Name}-}" style="width: 100px" clearable placeholder="{-{$c.Label}-}">
                <el-option v-for="item in {-{.Name}-}List" :key="item.value" :label="item.name" :value="item.value" />
            </el-select>
        </el-form-item>
        {-{- end}-}
        {-{- end}-}

        {-{- range $i,$c:= $qcols}-}
        {-{- if $c.Cmpnt.StartWith "multi"}-}
        <!--{-{$c.Label}-} 下拉控件多选 -->
        <el-form-item>
            <el-select v-model="form_{-{$table.UNQ}-}.{-{.Name}-}" filterable clearable multiple collapse-tags  style="width: 140px"
            collapse-tags-tooltip placeholder="{-{$c.Label}-}">
                <el-option v-for="item in {-{.Name}-}List" :key="item.value" :label="item.name" :value="item.value" />
            </el-select>
        </el-form-item>
        {-{- end}-}
        {-{- end}-}

        {-{- range $i,$c:= $qcols}-}
        {-{- if $c.Cmpnt.Equal "number"}-}
        <!--{-{$c.Label}-}  数字控件 -->
        <el-form-item label="{-{$c.Label}-}">
            <el-input-number  controls-position="right" v-model="form_{-{$table.UNQ}-}.{-{ $c.Name}-}" {-{ if ne 0 $c.Style.Min}-}
              :min="{-{ $c.Style.Min}-}" {-{ end}-}
            {-{if le 0 $c.Field.DLen}-} :precision="{-{$c.Field.DLen}-}" {-{end}-}   
            {-{ if ne 0 $c.Style.Max}-} :max="{-{ $c.Style.Max}-}" {-{ end}-} />
        </el-form-item>
        {-{- end}-} 
        {-{- end}-}

        {-{- $cmpnts := $table.Columns.GetFontQueryColumns.GetByCmpnt "input-text"}-}
        <!-- 控件个数：{-{$cmpnts}-} -->
        {-{- if gt $cmpnts.Len 0}-}
         <el-form-item>
            <el-input clearable style="width: 180px" v-model="form_{-{$table.UNQ}-}.single_text_value" maxlength="32"
                placeholder="关键字" >
                <template #prepend>
                    <el-select v-model="form_{-{$table.UNQ}-}.single_text_name" placeholder="查询类型" style="width:84px;">
                        <el-option
                        v-for="item in multiQueryText"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      />
                      </el-select>
                  </template>
            </el-input>
        </el-form-item>
        {-{- end}-}

        <span class="ddl">
            {-{- range $i,$c:= $qcols}-}
            {-{- if $c.Cmpnt.Equal "ddl"}-}
            <el-dropdown >
                <el-button plain >{-{$c.Label}-}
                  {{form_{-{$table.UNQ}-}.{-{.Name}-}_label}}<el-icon class="el-icon--right"><arrow-down /></el-icon>
                </el-button>
                <template #dropdown>
                  <el-dropdown-menu>
                    <el-dropdown-item @click="on{-{.Name}-}dropdownClick({},form_{-{$table.UNQ}-})">全部</el-dropdown-item>
                    <el-dropdown-item @click="on{-{.Name}-}dropdownClick(item,form_{-{$table.UNQ}-})" v-for="item in {-{.Name}-}List" :key="item.value" >{{item.name}}</el-dropdown-item>
                  </el-dropdown-menu>
                </template>
              </el-dropdown>
            {-{- end}-}
            {-{- end}-}
        </span>
        {-{- if or (gt $qcols.Len $menucount) (gt $blen 0)}-}
        <el-form-item>
            <el-space wrap>
                {-{- if gt $qOptrs.Len 0}-}
                {-{- range $i,$x:=$qOptrs}-}
                <el-button type="primary" icon="{-{$x.ICON}-}" @click="onQuery(true)">{-{$x.Label}-}</el-button>
                {-{- end}-}
                {-{- end}-}
            {-{- if eq $blen 1}-}
                {-{- range $i,$c:= $table.Optrs.BarOpts.GetCompnents}-}
                <el-button :type="$js.page.tagColor({-{f_num_spare $i 3}-})" {-{if ne "" $c.ICON}-} icon="{-{$c.ICON}-}" {-{end}-} @click="show_cmpnt_{-{$c.UNQ}-}">{-{$c.Label}-}</el-button>
                {-{- end}-}
            {-{- end}-}
            </el-space>
        </el-form-item>
        {-{- end}-}
        {-{ if or (gt $blist.Len 0) (gt $blen 1)}-}
        <div class="blist"> 
            {-{- if gt $blen 1}-}
            <el-button-group>
                {-{- range $i,$c:= $table.Optrs.BarOpts.GetCompnents }-}
                {-{- $exprs := $c.GetExprs "showExpr" ""}-}
                <el-button :type="$js.page.tagColor({-{f_num_spare $i 3}-})"
                {-{- if gt (len $exprs)  0}-} v-if='
                {-{- range $i,$expr := $exprs}-}
                {-{- if ne "" $expr.Name}-}{-{$expr.Name}-}{-{$expr.Symbol}-}{-{$expr.Value}-} 
                {-{- else if ne "" $expr.Field}-}
                form_{-{$table.UNQ}-}.{-{$expr.Field}-}{-{$expr.Symbol}-}{-{$expr.Value}-}
                {-{- end}-}
                {-{- if lt $i (minus (len $exprs))}-}&&{-{- end -}-}
                {-{- end -}-}'{-{- end}-}
                {-{if eq true $c.NeedBatchCheck}-} :disabled="bcheck.length==0" {-{ end}-}
                {-{if ne "" $c.ICON}-} icon="{-{$c.ICON}-}" {-{end}-} @click="show_cmpnt_{-{$c.UNQ}-}">{-{$c.Label}-}</el-button>
                {-{- end}-}
            </el-button-group>
            {-{- end}-}

            {-{- range $i,$c:= $blist}-}
            <el-radio-group v-model="form_{-{$table.UNQ}-}.{-{.Name}-}"  @change="onQuery">
                <el-radio-button>{-{$c.Label}-}</el-radio-button>
                <el-radio-button v-for="item in {-{.Name}-}List" :key="item.value" :label="item.value">
                    {{item.name}}
                </el-radio-button>
            </el-radio-group>
            {-{- end}-}
        </div>
        {-{- end}-}

        <!-- xtabs -->
        {-{ if gt (len $xtabs) 0}-}
        <div class="tabs">
            {-{- range $i,$c:= $xtabs}-}
            <el-tabs v-model="form_{-{$table.UNQ}-}.{-{.Name}-}"  @tab-change="onQuery">
                <el-tab-pane name="" label="全部"  ></el-tab-pane>
                <el-tab-pane v-for="item in {-{.Name}-}List" :name="item.value" :key="item.value" :label="item.name" 
                 ></el-tab-pane>
              </el-tabs> 
            {-{- end}-}
        </div>
        {-{- end}-}

    </el-form>
    {-{- end}-}
</div>
{-{- end}-}