{{$table :=.}}
{{- $qrow :=$table.QRows -}}
{{- $crow :=$table.CRows -}}
{{- $clen := len $crow -}}
<div class="query">
    <div class="tabs">
        {{ range $i,$c:= $qrow }}
        {{- if eq "tabs" $c.RType.Type -}}
        <el-tabs v-model="form_{{$table.UNQ}}.{{.Name}}"  @tab-change="onQuery">
            <el-tab-pane label="全部" name="" ></el-tab-pane>
            <el-tab-pane v-for="item in {{.Name}}List" :name="item.value" :key="item.value" :label="item.name" 
             ></el-tab-pane>
          </el-tabs> 
        {{- end }}{{ end }}
    </div>
    <el-form :model="form_{{$table.UNQ}}" inline size="small">
        {{- range $i,$c:= $qrow -}}
        {{- if eq "year" $c.RType.Type -}}
        <!--{{.Desc}} 年控件 -->
        <el-form-item>
            <el-date-picker style="width: 120px" v-model="form_{{$table.UNQ}}.{{$c.Name}}" clearable type="year"
                placeholder="{{.Desc}}" />
        </el-form-item>
        {{- end -}}{{- end }}

        {{- range $i,$c:= $qrow -}}
        {{- if eq "month" $c.RType.Type -}}
        <!--{{.Desc}} 月控件 -->
        <el-form-item>
            <el-date-picker style="width: 120px" v-model="form_{{$table.UNQ}}.{{$c.Name}}" clearable type="month"
                placeholder="{{.Desc}}" />
        </el-form-item>
        {{- end -}}{{ end }}


        {{- range $i,$c:= $qrow -}}
        {{- if eq "monthrange" $c.RType.Type -}}
        <!--{{.Desc}} 月份控件 -->
        <el-form-item>
            <el-date-picker style="width: 150px" v-model="form_{{$table.UNQ}}.{{$c.Name}}" clearable type="monthrange"
                placeholder="{{.Desc}}" />
        </el-form-item>
        {{- end -}}{{ end }}


        {{- range $i,$c:= $qrow -}}
        {{- if eq "daterange" $c.RType.Type -}}
        <!--{{.Desc}} 日期范围控件 -->
        <el-form-item>
            <el-date-picker style="width: 200px" v-model="form_{{$table.UNQ}}.{{$c.Name}}" type="daterange" start-placeholder="开始日期"
                end-placeholder="结束日期" format="YYYY-MM-DD" value-format="YYYY-MM-DD" />
        </el-form-item>
        {{- end -}}{{ end }}

        {{ range $i,$c:= $qrow }}
        {{- if eq "date" $c.RType.Type -}}
        <!--{{.Desc}} 日期控件 -->
        <el-form-item>
            <el-date-picker style="width: 120px" v-model="form_{{$table.UNQ}}.{{$c.Name}}" clearable type="date"
                placeholder="{{.Desc}}" format="YYYY-MM-DD" value-format="YYYY-MM-DD" />
        </el-form-item>
        {{- end -}}{{ end }}

        {{- range $i,$c:= $qrow -}}
        {{- if eq "select" $c.RType.Type -}}
        <!--{{.Desc}} 下拉控件 -->
        <el-form-item>
            <el-select v-model="form_{{$table.UNQ}}.{{.Name}}" style="width: 120px" clearable placeholder="{{.Desc}}">
                <el-option v-for="item in {{.Name}}List" :key="item.value" :label="item.name" :value="item.value" />
            </el-select>
        </el-form-item>
        {{- end -}}{{ end }}

        {{- range $i,$c:= $qrow -}}
        {{- if eq "multiselect" $c.RType.Type -}}
        <!--{{.Desc}} 下拉控件多选 -->
        <el-form-item>
            <el-select v-model="form_{{$table.UNQ}}.{{.Name}}" filterable clearable multiple collapse-tags placeholder="{{.Desc}}">
                <el-option v-for="item in {{.Name}}List" :key="item.value" :label="item.name" :value="item.value" />
            </el-select>
        </el-form-item>
        {{- end -}}{{ end }}

        {{- range $i,$c:= $qrow -}}
        {{- if eq "number" $c.RType.Type -}}
        <!--{{.Desc}}  数字控件 -->
        <el-form-item label="{{$c.Desc}}">
            <el-input-number  controls-position="right" v-model="form_{{$table.UNQ}}.{{ $c.Name }}" {{ if ne "" $c.RType.Min}}
              :min="{{ $c.RType.Min }}" {{ end }}
            {{if le 0 $c.Type.DLen }} :precision="{{$c.Type.DLen}}" {{end}}   
            {{ if ne "" $c.RType.Max}} :max="{{ $c.RType.Max }}" {{ end }} />
        </el-form-item>
        {{- end -}} {{ end }}

        {{- range $i,$c:= $qrow -}}
        {{- if eq "input" $c.RType.Type -}}
        <!--{{.Desc}} 输入控件 -->
        <el-form-item>
            <el-input clearable style="width: 120px" v-model="form_{{$table.UNQ}}.{{$c.Name}}" maxlength="{{$c.RType.Len}}"
                placeholder="{{$c.Desc}}" />
        </el-form-item>
        {{- end -}} {{ end }}
        <span class="ddl">
            {{ range $i,$c:= $qrow }}
            {{- if eq "ddl" $c.RType.Type -}}
            <el-dropdown >
                <el-button plain >{{$c.Desc}}
                  {{bleft}}form_{{$table.UNQ}}.{{.Name}}_label{{bright}}<el-icon class="el-icon--right"><arrow-down /></el-icon>
                </el-button>
                <template #dropdown>
                  <el-dropdown-menu>
                    <el-dropdown-item @click="on{{.Name}}dropdownClick({},form_{{$table.UNQ}})">全部</el-dropdown-item>
                    <el-dropdown-item @click="on{{.Name}}dropdownClick(item,form_{{$table.UNQ}})" v-for="item in {{.Name}}List" :key="item.value" >{{bleft}}item.name{{bright}}</el-dropdown-item>
                  </el-dropdown-menu>
                </template>
              </el-dropdown>
            {{- end }}{{ end }}
        </span>
        <el-form-item>
            <el-button type="primary" icon="Search" @click="onQuery">查询</el-button>
            {{if gt $clen 0}}
            <el-button type="success" icon="Plus" @click="showAdd">添加</el-button>
            {{end}}
        </el-form-item>
        <div class="blist">
            {{ range $i,$c:= $qrow }}
            {{- if eq "blist" $c.RType.Type -}}
            <el-radio-group v-model="form_{{$table.UNQ}}.{{.Name}}" size="small" @change="onQuery">
                <el-radio-button>{{.Desc}}</el-radio-button>
                <el-radio-button v-for="item in {{.Name}}List" :key="item.value" :label="item.value">
                    {{bleft}}item.name{{bright}}
                </el-radio-button>
            </el-radio-group>
            {{- end }}{{ end }}
        </div>
       
       
       
    </el-form>
  
</div>

